.semana-container{

}
.detalle-container{

}
.table thead{
  font-weight: bold;
}

.table tr{
  text-align: left;
}

.table tbody tr:not(.selected):hover{
  background-color: #cacaca;
}

.selected {
  background-color: #5bc0de;
}
