table(class="table")
    thead
        tr
            td Empleado
            td Entrada
            td Salida
    tbody
        tr(
        ng-repeat="empleado in planificacion"
        )
            td {{empleado.empleado}}
            td {{empleado.entrada | date : "HH'hs'"}}
            td {{empleado.salida | date : "HH'hs'"}}
