table(class="table")
    thead
        tr
            td Empleado
            td Entrada
            td Salida
    tbody
        tr(
        ng-repeat="empleado in planificacion.empleados"
        )
            td {{empleado.nombre}}
            td {{empleado.entrada}}hs
            td {{empleado.salida}}hs
